NAME=
ENV=
PORT=
JWT_SECRET_KEY=

GOOGLE_GENERATIVE_AI_API_KEY=

TURSO_API_TOKEN=
TURSO_ORG_NAME=
TURSO_GROUP_NAME=
TURSO_GROUP_TOKEN=

TURSO_DB_MAIN_URL=
TURSO_DB_MAIN_TOKEN=

REDIS_DB_AUTH_URL=
REDIS_DB_TENANT_ACCESS_URL=
REDIS_DB_MIGRATION_LOCK_URL=
REDIS_DB_RATE_LIMITING_URL=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_LINK=
CLOUDFLARE_R2_PRESIGNED_URL_EXPIRES_IN=

REQUEST_TIMEOUT=
QUERY_TAKE_MAX=
DB_MAX_CACHED_TENANTS=

USER_MAX_ORGANIZATIONS=

OTP_TTL_MINUTES=

RATE_LIMIT_GLOBAL_IP_LIMIT=
RATE_LIMIT_GLOBAL_IP_DURATION=

RATE_LIMIT_FILE_UPLOAD_LIMIT=
RATE_LIMIT_FILE_UPLOAD_DURATION=
RATE_LIMIT_FILE_UPLOAD_DAILY_LIMIT=
RATE_LIMIT_FILE_UPLOAD_DAILY_DURATION=

RATE_LIMIT_OTP_SEND_PHONE_LIMIT=
RATE_LIMIT_OTP_SEND_PHONE_DURATION=
RATE_LIMIT_OTP_SEND_PHONE_DAILY_LIMIT=
RATE_LIMIT_OTP_SEND_PHONE_DAILY_DURATION=
RATE_LIMIT_OTP_SEND_IP_LIMIT=
RATE_LIMIT_OTP_SEND_IP_DURATION=
RATE_LIMIT_OTP_SEND_IP_DAILY_LIMIT=
RATE_LIMIT_OTP_SEND_IP_DAILY_DURATION=

RATE_LIMIT_OTP_VERIFY_LIMIT=
RATE_LIMIT_OTP_VERIFY_DURATION=
RATE_LIMIT_OTP_VERIFY_DAILY_LIMIT=
RATE_LIMIT_OTP_VERIFY_DAILY_DURATION=

MAX_IMAGE_SIZE_BYTES=
MAX_AUDIO_SIZE_BYTES=
MAX_VIDEO_SIZE_BYTES=