NAME=
ENV=
PORT=
JWT_SECRET_KEY=

GOOGLE_GENERATIVE_AI_API_KEY=

TURSO_API_TOKEN=
TURSO_ORG_NAME=
TURSO_GROUP_NAME=
TURSO_GROUP_TOKEN=

TURSO_DB_MAIN_URL=
TURSO_DB_MAIN_TOKEN=

REDIS_DB_MAIN_URL=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_LINK=
